// this is the main style sheet

// importing sass modules
@import '_vars';
@import 'modules/_reset';
@import 'modules/_header';
@import 'modules/_content';
@import 'modules/_form';
@import 'modules/_adminDashboard';
@import 'modules/_adminCreate';


// any main styling effects
.hidden{
    display: none;
}

#adminPage{
    margin: 50px;
}

body{
   //width: 100%;
   background-color: #f2f2f2;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px; 
}

.mainVue{
    margin: 0px;
}

/* 

h2{
    font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
    color: $heading-color;
    font-size: 44px;
}

h3{
    font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
    color: $heading-color;
    font-size: 26px;
}

h4{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: $h4-color;
    font-size: 22px;
}

p{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: $copy-color;
    font-size: 16px;
}

a{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    font-size: 16px;
    text-decoration: none;
    margin: 20px;
}

*/

#adminNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    ul,li,a { 
        text-decoration: none; 
        //color: #f2f2f2;
    }

    a:hover {
        color: $button-color;
        transition: ease .3s;
    }
}


@import 'modules/_footer';