#mainHeader{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 40px 40px;
    #logo{
        width: 200px;
    }
    #icon{
        width: 50px;
        margin: 20px;
    }
    #icon:hover{
        cursor: pointer;
    }
    #headerIcons{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

}

#bannerPromo{
    background-color: $secondary-bg-color;
    padding: 5px;
    a{
        color: #f2f2f2;
        font-size: 18px;

    }
}