
// ---------WELCOME----------
#landing
{
    height: 290px;
    width: 100%;
    background-color: #959595;
}

#welcome h2
{
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 22px;
    margin-left: 10px;
}

.welcome h3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: -5px;
    opacity: 90%;
    font-style: thin;
}



// ---------BOXES----------

#box1
{
    background-color: #FF4A6B;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
}

#box1 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 28px;
    margin-left: 10px;
    padding-top: 25px;
}

#box1 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 10px;
}

#box1 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 10px;
}


#box2
{
    background-color: #5E5BC7;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 40px;
}

#box2 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 28px;
    margin-left: 10px;
    padding-top: 25px;
}

#box2 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 10px;
}

#box2 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 10px;
}

#box3
{
    background-color: #FF4A6B;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 40px;
}

#box3 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 28px;
    margin-left: 10px;
    padding-top: 25px;
}

#box3 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 10px;
}

#box3 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 14px;
    margin-left: 10px;
}