
// ---------WELCOME----------
#landing
{
    height: 290px;
    width: 100%;
    background-color: #959595;
}

#welcomeDesk
{
    display: none;
}

#welcome
{
    margin-left: 20%;
}

#welcome h2
{
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-size: 22px;
    margin-left: 10px;
}

.welcome h3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-top: -5px;
    opacity: 90%;
    font-style: thin;
}

button
{
    width: 115px;
    height: 30px;
    background-color: #5E5BC7;
    border-radius: 20px;
    margin-left: 10px;
    color: white;
}


// ---------BOXES----------

.boxinside
    {
        width: 80%;
        align-self: center;
        margin-left: 40px;
        margin-top: -18px;
    }

.boxinside1
    {
        width: 80%;
    }

    #box1 h2,#box2 h2,#box3 h2
    {
        font-weight: 1000;
        font-size: 30px;
    }
    
    #box1 h3,#box2 h3,#box3 h3
    {
        font-weight: 1000;
        font-size: 18px;
    }
    
    #box1 p,#box2 p,#box3 p
    {
        font-weight: 1000;
        font-size: 18px;
    }

#box1
{
    background-color: #FF4A6B;
    // height: 760px;
    min-height:100px;
    border-radius: 50px;
    margin: 10px;
}

#box1 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
}

#box1 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

#box1 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
}


#box2
{
    background-color: #5E5BC7;
    // height: 640px;
    min-height:100px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 40px;
}

#box2 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    padding-top: 25px;
}

#box2 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

#box2 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    padding-bottom: 30px;
}

#box3
{
    background-color: #FF4A6B;
    // height: 520px;
    min-height:100px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 40px;
}

#box3 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    padding-top: 25px;
}

#box3 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

#box3 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    padding-bottom: 30px;
}

.seeMore
{
    // display: flex;
    display: none;
    
}

.seeMore p
{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
}

.seeMore p:hover
{
    color: #5E5BC7;
}

#section2 h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    margin-left: 20px;
    margin-top: 80px;
}

.infoSquare
{
    width: 90%;
    height: 450px;
    background-color: #FF4A6B;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.infoSquare img
{
    width: 100%;
    height: 300px;
}

.infoSquare2, .infoSquare3
{
    margin-top: 30px;
}

#facts p
{
    margin: auto;
}

#facts p
{
    border: 3px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    margin-top: 40px;
}

#graphic
{
    margin-left: 10%;
}

#social
{


}

#graphicText h2
{
    text-align: center;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#graphicText2 p
{
    text-align: center;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#socialGraphics
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#graphic1, #graphic2, #graphic3
{
    height: 50px;
    width: 50px;
    background-color: green;
    justify-content: space-around;
    padding-right: 20px;
}




@media screen and (min-width: 640px) {

    #box1 h2,#box2 h2,#box3 h2
    {
        font-weight: 1000;
        font-size: 35px;
    }
    
    #box1 h3,#box2 h3,#box3 h3
    {
        font-weight: 1000;
        font-size: 19px;
    }
    
    #box1 p,#box2 p,#box3 p
    {
        font-weight: 1000;
        font-size: 19px;
    }

}

@media screen and (min-width: 960px) {


#box1 h2,#box2 h2,#box3 h2
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 40px;
    margin-left: 10px;
    padding-top: 50px;
}

#box1 h3,#box2 h3,#box3 h3
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 22px;
    margin-left: 10px;
}

#box1 p,#box2 p,#box3 p
{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 19px;
    margin-left: 10px;
}

.seeMore p
{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
}

    #welcomeDesk
    {
        display: contents;
    }

    #welcome
    {
        display: none;
    }

    #section1
    {
        display: flex;
        flex-direction: row;
    }

    .welcome
    {
        margin-left: 16%;
        margin-top: 90px;
    }

    #landing
    {
        width: 40%;
        margin-right: 10%;
        margin-bottom: 100px;
        margin-top: 50px;
        margin-left: 20%;
    }

    #box1, #box2, #box3
    {
        width: 60%;
    }

    .boxinside
    {
        margin-left: 30px;
    }

    .boxinside1
    {
        margin-left: 114px;
    }

    #box1 ,  #box3
    {
        margin-left: -70px;
    }

    #box2
    {
        float: right;
        margin-top: 70px;
        margin-right: -70px;
    }

    #box3
    {
        margin-top: 77px;  
    }

    .circleImg1
    {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        background-color: #959595; 
        margin-left: 6%;  
        margin-top: 40px;
    }

    .circleImg
    {  
        margin-top: 85px;
    }

    #box1Wrapper
    {
        display: flex;
        flex-direction: row;
    }

    #box2Wrapper
    {
        display: flex;
        flex-direction: row-reverse;
    }

    .circleImg2
    {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        background-color: #959595; 
        margin-right: 6%; 
        margin-top: 100px;
    }

    #squareWrapper
    {
        display: flex;
        flex-direction: row;
        width: 85%;
        margin: auto;
    }

    #section2 h2
    {
        text-align: center;
        font-size: 40px;
    }

    #section2 h3
    {
        font-size: 22px;
    }

    .infoSquare2, .infoSquare3
    {
        margin-top: 0px;
    }

    #questionsForm
    {
        display: flex;
        flex-direction: row;
    }

    #text, #formBox
    {
        justify-content: space-evenly;
        width: 45%;
        margin: auto;
        margin-top: 98px;
    }

    #formBox input
    {
        margin-top: 5px;
    }

    #formBox label
    {
        margin-top: 20px;
    }

    .lab // ---------------not working!!! --------------
    {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    #facts p
    {
        width: 80%;
    }

    #facts
    {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }

    #fact, #graphic
    {
        justify-content: space-between;
    }

    #fact
    {
        margin-left: 100px;
    }

    #mailingList
    {
        display: flex;
        flex-direction: row;
    }

    #text2
    {
        justify-content: space-evenly;
        width: 45%;
        margin: auto;
        margin-top: 0px;
    }

    #formBox2
    {
        justify-content: space-evenly;
        width: 45%;
        margin: auto;
        margin-top: 40px;
    }

}