footer{
    margin-top: 1200px;
    background-color: $button-color;
    padding: 30px; 
    div{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            color: #efcc4f;
            font-size: 12px;
        }
    }
    img{
        width:50px;
    }
}