.formPage{

    margin-top: 60px;
    text-align: center;

    #signupWrap{
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin: 80px 80px 40px 80px;
    }

    .signup{
        margin-bottom: 40px;
        background-color: #e4e4e4;
        border-radius: 50px;

        

        h2{
            text-align: center;
            color: $button-color;
            font-size: 38px;
        }

        h3{
            font-size: 22px;
            font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                border-radius: 30px; 
                border-style: none;
                border: 2px solid $button-color;
                padding: 10px;
                margin: 10px;
                font-size: 14px;
                min-width: 100px;
                text-decoration: none;
                outline: none;
                background-color: #f2f2f2;
            }
            input:focus{
                background-color: $heading-color;
                color: #f2f2f2;
            }
            button{
                border-radius: 30px; 
                border-style: none;
                background-color: $button-color;
                padding: 10px;
                margin: 10px;
                font-size: 14px;
                min-width: 150px;
                text-decoration: none;
                color: white;
                
            }
            button:hover{
                cursor: pointer;
            }
        }
    }
}


.route{
    font-family:'Oswald', sans-serif;
    text-decoration: none;
    color: #3f3f3f;
    margin-top: 40px;
    margin: 20px;
}

.route:hover{
    text-decoration: none;
    color: $button-color;
    transition: .2s ease;
}

@media screen and (min-width: 640px) {
    form{
        input{
            width: 400px;
            height: 30px;
            font-size: 18px;
        }
    }
    button{
        width: 200px;
        height: 50px;
    }
    .signup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 30px;
    }

    #line{
        width: 2px;
        border-radius: 50px;
        height: 200px;
        background-color: #3f3f3f;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 960px) {
    form{
        input{
            width: 300px;
            height: 30px;
        }
    }
    .signup{
        max-width: 1400px;
    }
}