.formPage{

    margin-top: 60px;
    //text-align: left;

    #signupWrap{
        display: flex;
        justify-content: center;
        margin: 80px 80px 40px 80px;
    }

    .signup{
        margin-bottom: 40px;
        background-color: #e4e4e4;
        border-radius: 50px;
        padding: 30px;

        #line{
            margin: 0 auto;
            height: 1px;
            width: 100%;
            border-radius: 50px;
            background-color: #3f3f3f;
            margin-right: 20px;
            margin-left: 20px;
        }

        h2{
            text-align: center;
            color: $button-color;
            font-size: 38px;
            
        }

        h3{
            font-size: 22px;
            font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
        }

        .signupCon{
            margin: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input{
                border-radius: 30px; 
                border-style: none;
                //border: 2px solid $button-color;
                padding: 15px;
                margin: 10px;
                font-size: 14px;
                min-width: 240px;
                text-decoration: none;
                outline: none;
                background-color: #f2f2f2;
            }
            input:focus{
                background-color: $heading-color;
                color: #f2f2f2;
            }
            button{
                border-radius: 30px; 
                border-style: none;
                background-color: $button-color;
                padding: 10px;
                margin: 10px;
                font-size: 14px;
                width: 150px;
                text-decoration: none;
                color: white;
                
            }
            button:hover{
                cursor: pointer;
                background-color: #f2f2f2;
                border: 2px solid $button-color;
                color: $button-color;
            }

            button:active{
                text-decoration: none;
            }
        }
    }

}


.route{
    font-family:'Oswald', sans-serif;
    text-decoration: none;
    color: #3f3f3f;
    margin-top: 40px;
    margin: 20px;
}

.route:hover{
    text-decoration: none;
    color: $button-color;
    transition: .2s ease;
}

@media screen and (min-width: 560px){
    input{
        width: 400px;
    }
}


@media screen and (min-width: 960px) {
    .formPage{
        h2{
            text-align: left;
            margin-left: 80px;
        }
    }
    form{
        input{
            width: 400px;
            height: 25px;
            font-size: 18px;
        }
    }
    button{
        width: 200px;
        height: 50px;
    }
    .signup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 30px;
        max-width: 1400px;

        #lineDesk{
            width: 2px;
            //border-radius: 50px;
            height: 200px;
            background-color: #3f3f3f;
            margin-right: 20px;
            margin-left: 20px;
        }

        #line{
            display: none;
        }
    }
}