// this is the header styling page
header{
    background-color: $secondary-bg-color;
    .route{
        font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
    }
}

#headCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px;
    max-width: 1600px;
}

#logo{
    width: 50px;
}

@media screen and (min-width: 640px) {
    #logo{
        width: 100px;
    }
}

@media screen and (min-width: 960px) {
    #headCon{
        margin-left: 60px;
        margin-right: 60px;
        .route{
            margin-left: 40px;
            font-family: 'Poppins Bold', Arial, Helvetica, sans-serif;
        }
    }
}