// this is the header styling page
header{
    background-color: $background-color;
    .route{
        font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
    }
}
ul,li,a{
    text-decoration: none;
    color: black;
}

#headCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px;
    max-width: 1600px;
}

#logo{
    img{
        width: 150px;
        height: 80px;
        margin: 20px;
    }
}

#signupBtn{
    color: #f2f2f2;
    border-radius: 15px;
    background-color: $heading-color;
    padding:5px 25px 5px 25px ;
}

@media screen and (min-width: 640px) {
    #logo{
        img{
            width: 150px;
        }
    }
}

@media screen and (min-width: 960px) {
    #headCon{
        margin-left: 60px;
        margin-right: 60px;
        .route{
            margin-left: 40px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;

        }
    }
}