// this is the header styling page
header{
    background-color: $secondary-bg-color;
    .route{
        font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
    }
}
ul,li,a{
    text-decoration: none;
}

#headCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px;
    max-width: 1600px;
}

#logo{
    img{
        width: 150px;
        margin: 20px;
    }
}

#signupBtn{
    color: #f2f2f2;
    border-radius: 5px;
    background-color: $heading-color;
    padding:15px 25px 15px 25px ;
}

@media screen and (min-width: 640px) {
    #logo{
        img{
            width: 250px;
        }
    }
}

@media screen and (min-width: 960px) {
    #headCon{
        margin-left: 60px;
        margin-right: 60px;
        .route{
            margin-left: 40px;
            font-family: 'Poppins Bold', Arial, Helvetica, sans-serif;
        }
    }
}